body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at center, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Container */
.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo (top-left) */
.login-header {
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-logo {
    width: 180px;
    width: 180px;
    height: 140px;
    border-radius: 8px;
}

.header-title {
    color: #00d4ff;
    font-size: 22px;
    font-weight: 600;
}

/* Login Box */
.login-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

.brand {
    color: #00d4ff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-box input {
    width: 80%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #1e2a32;
    color: white;
    font-size: 16px;
}

.login-box button {
    background: #00ffd0;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}

    .login-box button:hover {
        background: #00c9a7;
    }

.footer {
    margin-top: 20px;
    color: #aaa;
    font-size: 14px;
}
